*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase emulator artifacts
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
database-debug.log
.firebase/
firebase-export-*/
